:root {
    --font: 'Lato', sans-serif;
    --color1: #00001a;
    --color2: #314c53;
    --color3: #009b7e;
    --color4: #bbdec6;
    --color5: #f7f8fc;
    --color6: #121212;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--font);
    font-style: none;
}

body {
    background: var(--color1);
    color: var(--color4);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 20px;
    margin: 0;
    min-height: 100vh;
}

header {
    background-color: var(--color6);
    padding: 20px 0;
    width: 100%;
    box-shadow: 0 1rem 6px rgba(46, 46, 46, 0.432);
    border-radius: 1rem;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    width: 100%;
    max-width: 1200px; 
    margin: 0 auto;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 20px;
}

nav ul li {
    display: inline;
}

nav ul li a {
    color: white;
    text-decoration: none;
    padding: 8px 16px;
    transition: background-color 0.3s;
}

nav ul li a:hover {
    background-color: #555;
    border-radius: 4px;
    color: var(--color3);
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.formula1, .problema, .solucao, .comparacao {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    border-radius: 10px;
    width: 100%;
    max-width: 800px; 
    margin: 20px auto; 
}

.formula1 img.formula,
.problema img,
.solucao img,
.comparacao img {
    width: 100%;
    height: auto;
    border-radius: 10px;
    margin-bottom: 20px;
    box-shadow: 0 10px 8px rgba(123, 123, 123, 0.237);
}


.info {
    display: flex;
    justify-content: center;
    align-items: center;
}

.info img.icon {
    padding: 1rem;
    margin: 10px 0;
}

section {
    margin: 20px 0;
    width: 100%;
}

.problema p,
.solucao p,
.comparacao p {
    margin-bottom: 10px;
    font-weight: bold;
    text-align: center;
}

.problema span,
.solucao span,
.comparacao span {
    text-align: center;
    margin-bottom: 20px;
}

button {
    margin: 2rem;
    margin-top: 1rem;
    padding: 10px 20px;
    background-color: var(--color3);
    color: var(--color5);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    width: 100%;
    max-width: 200px;
    text-align: center;
}

button:hover {
    background-color: var(--color4);
    color: var(--color1);
}

footer {
    background-color: var(--color6);
    padding: 20px 0;
    width: 100%;
    text-align: center;
    color: var(--color4);
}
/*Estilos para o cabeçalho */
h2 {
    color: #636363;
}

/*Estilos para os formulários */
form {
    margin-bottom: 20px;
}
/*Alterando a cor de texto dos formulários */
label {
    display: block;
    margin-bottom: 5px;
    color:#131212;
}
/*Estilizando os formulários */
input[type="text"],
input[type="password"],
input[type="tel"],
input[type="email"] {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
}
/*Estilizando os Botões */
button {
    padding: 10px 20px;
    background-color:skyblue;
    color: white;
    border: none;
    cursor: pointer;
    float:right;
    border-radius: 5px;
}

/*Estilos para as caixas de respostas ficarem centralizadas */
@media (min-width: 768px) {
    body {
        padding: 20px;
    }

    form {
        max-width: 400px;
        margin: 0 auto;
    }
}
form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 40px; /* Espaçamento entre o formulário e o slideshow */
    padding: 20px;
    background-color: #575353;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

form label {
    margin-bottom: 5px;
}

form input {
    margin-bottom: 15px;
    padding: 10px;
    width: 300px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

form button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #007bff;
    color: #fff;
    cursor: pointer;
}

form button:hover {
    background-color: #0056b3;
}

@media (max-width: 300px) {
    form {
        padding: 10px;
    }

    form input, form button {
        padding: 10px;
    }

    h2 {
        font-size: 1.5em;
    }
}
.button-container {
    text-align: center;
    margin-top: 20px;
}
#loginForm button {
    display: block; /* Torna o botão um bloco de nível */
    margin: 0 auto; /* Define as margens laterais como "auto" para centralizar */
}
/*Estilos para a seção do banner */
#Banner {
    margin-bottom: 20px;
}
/*Deixar o SlideShow no Centro */
#imgBanner {
    display: block;
    margin: 0 auto;
}
#myButton {
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s;
}
#myButton:hover {
    background-color: #0056b3;
}

@media screen and (max-width: 768px) {
    nav {
        flex-direction: column;
        align-items: center;
    }

    nav ul {
        flex-direction: column;
        gap: 10px;
    }

    .formula1,
    .problema,
    .solucao,
    .comparacao {
        padding: 10px;
        margin: 10px 0;
    }

    .info img.icon {
        margin: 5px 0;
    }
}
